span {
  margin: 80px 200px;
  color: aqua;
  background-color: brown;
}

body {
  background-color: bisque;

}


table, td, th {
  border: 1px solid lightcoral;
  background-color: lightsalmon;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 50px;
}


.carouselImg {
  border: 1px solid #751a1a;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}



a {
  padding: 12px;
  background-color: #222;
  color: #eee;
  margin: 0 auto;
}


